@import "../core/variables";

@mixin formControl-v1(
    $color: map-get(map-get($palette, black), light-1),
    $fs: map-get($fontSize, small),
    $bs: none,
    $border-color: map-get(map-get($palette, gray), light-1),
    $border: 0,
    $radius: 0,
    $bg: map-get(map-get($palette, gray), light-2),
    $height: 48px
) {
    font-size: $fs;
    color: $color;
    border: $border;
    border-radius: $radius;
    background-color: $bg;
    height: $height;

    &:focus {
        color: $color;
        box-shadow: $bs;
        border-color: $border-color;
    }
}

@mixin formControl-v2(
    $color: map-get(map-get($palette, black), base),
    $fs: map-get($fontSize, small),
    $bs: none,
    $border-color: map-get(map-get($palette, gray), light-1),
    $border: $border-thin,
    $radius: 30px,
    $bg: map-get(map-get($palette, white), base),
    $height: 48px
) {
    font-size: $fs;
    color: $color;
    border: $border;
    border-radius: $radius;
    background-color: $bg;
    height: $height;
    border-color: $border-color;

    &:focus {
        color: $color;
        box-shadow: $bs;
        border-color: $border-color;
    }
}

.form-control {
    text-indent: 15px;
    @include formControl-v2;
}

select {
    -webkit-appearance: menulist !important;
    /*webkit browsers */
    -moz-appearance: menulist !important;
    /*Firefox */
    appearance: menulist !important;
    /* modern browsers */
}

/* The customcheck */
.customcheck {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: map-get($fontSize, small);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: map-get(map-get($palette, gray), light-2);
        border-radius: 5px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input:checked ~ .checkmark {
        background-color: map-get(map-get($palette, red), base);
        border-radius: 5px;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
}
// -------------------------------------

// tick mark
#tick-mark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #1db11d;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #1db11d;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
// -----------------------------------------------------------------

textarea.form-control {
    height: auto!important;
}