.arrow-h-svg {
    position: relative;
    animation: MoveLeftRight 1s linear infinite;
}

@keyframes MoveLeftRight {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}

.explore {
    animation: MoveUpDown 1s linear infinite;
}

// Non retina
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
    .explore {
        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 60px;
            }
            50% {
                bottom: 80px;
            }
        }
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 60px;
            }
            50% {
                bottom: 80px;
            }
        }
    }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 60px;
            }
            50% {
                bottom: 50px;
            }
        }
    }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 50px;
            }
            50% {
                bottom: 70px;
            }
        }
    }
}
// -----------------------------------------------------------

// retina
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .explore {
        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 50px;
            }
            50% {
                bottom: 70px;
            }
        }
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 45px;
            }
            50% {
                bottom: 75px;
            }
        }
    }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 40px;
            }
            50% {
                bottom: 60px;
            }
        }
    }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .explore {        
        @keyframes MoveUpDown {
            0%,
            100% {
                bottom: 50px;
            }
            50% {
                bottom: 70px;
            }
        }
    }
}
// -------------------------------------------------------