// caret icons
.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #c6c6c6;

    .over-triangle {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 4px solid transparent;
        border-top: 7px solid white;
        position: relative;
        top: -10px;
        left: -5px;
    }
}
// ---------------------------------