.banner-section {
    margin: 25px 0 0 0;
}

.dummy-section {
    padding: 20px 0;
}

// normal
@media (max-width: 375px) {
    .banner-section {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 576px) {
    .dummy-section {
        padding: 0px 0;
    }
}

@media (max-width: 1024px) {
    .work-hover {
        display: none;
    }

    .card-img-overlay {
        display: none !important;
    }
}

// ------------------------------------------------------------------


// Non retina
@media screen and (max-device-width: 576px) and (-webkit-min-device-pixel-ratio: 1) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .about-wrapper, .services-wrapper, .portfolio-wrapper, .sub-services-wrapper {
        .banner-section {
            margin: 10px 0 0 0 !important;
        }
    }
}

// apar
@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
    .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 180px 0 !important;
            }
        }
    }

    .home-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 145px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 150px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 140px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 150px 0 !important;
            }
        }
    }
}

@media screen and (min-device-width: 1367px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
    .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 220px 0 !important;
            }
        }
    }

    .home-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 180px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 180px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 170px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 180px 0 !important;
            }
        }
    }
}

// anoop
@media only screen and (min-width: 1440px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 850px;
                padding: 200px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 850px;
                padding: 180px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 850px;
                padding: 170px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 15px 0 0 0;
            .home-banner {
                max-width: 850px;
                padding: 180px 0 !important;
            }
        }
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 270px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 250px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 240px 0 !important;
            }
        }
    }

    .about-wrapper{
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 250px 0 !important;
            }
        }
    }
}

@media only screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 270px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 250px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 250px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 240px 0 !important;
            }
        }
    }
}
// -----------------------------------------------------------

// retina
@media screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .about-wrapper, .services-wrapper, .portfolio-wrapper, .sub-services-wrapper {
        .banner-section {
            margin: 10px 0 0 0 !important;
        }
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 30px 0 0 0!important;
            .home-banner {
                max-width: 800px;
                padding: 150px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 30px 0 0 0!important;
            .home-banner {
                max-width: 800px;
                padding: 110px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 30px 0 0 0!important;
            .home-banner {
                max-width: 800px;
                padding: 120px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 30px 0 0 0!important;
            .home-banner {
                max-width: 800px;
                padding: 120px 0 !important;
            }
        }
    }
}

@media screen and (min-device-width: 1367px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 180px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 155px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 165px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 165px 0 !important;
            }
        }
    }
}

// varun, me 
@media screen and (min-device-width: 1440px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 190px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 150px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 160px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 30px 0 0 0;
            .home-banner {
                max-width: 800px;
                padding: 160px 0 !important;
            }
        }
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .home-wrapper, .hire-wrapper, .contact-wrapper, .services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 250px 0 !important;
            }
        }
    }

    .portfolio-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 220px 0 !important;
            }
        }
    }

    .sub-services-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 230px 0 !important;
            }
        }
    }

    .about-wrapper {
        .banner-section {
            margin: 50px 0 0 0;
            .home-banner {
                max-width: 1024px;
                padding: 230px 0 !important;
            }
        }
    }
}