// Core
@import "core/variables";
@import "core/base";

// Helpers
@import "helpers/index";
@import "core/responsive";

.rel {
    position: relative;
}

.select-muted {
    color: #727679;
}

.no-pointer {
    cursor: auto !important;
}

a.mail {
    color: map-get(map-get($palette, black), light-1);
    font-weight: 600;
    text-decoration: none;
}

.mh-100 {
    min-height: 100%;
}

// banner
.banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
// ----------------------------------------------------------------

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.dropdown-menu {
    left: -150px;
}

.carousel {
    .slick-slide {
        margin: 10px;
        // &.slick-active {
        //     opacity: 0.5;
        // }

        // &.slick-cloned.slick-active {
        //     opacity: 1;
        // }
        // &.slick-current.slick-active.slick-center {
        //     // opacity: 1;
        // }
    }
}

.slick-dots {
    li {
        button {
            &:before {
                font-size: map-get($fontSize, x-small);
            }
        }
    }
}

.modal-content {
    border-radius: 1rem;
}

@media (max-width: 375px) {
    .dropdown-menu {
        left: 0;
    }
}

@media (max-width: 992px) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }
}

@media (min-width: 576px) {
    .modal-sm {
        max-width: 500px;
    }
}

.box {
    // position: relative;

    .title {
        position: relative;
        height: 100%;

        .block {
            width: 0%;
            height: inherit;
            background: #000;
            position: absolute;
            animation: mainBlock 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation-delay: 1.5s;
            display: flex;
        }

        h1 {
            -webkit-animation: mainFadeIn 1.5s forwards;
            -o-animation: mainFadeIn 1.5s forwards;
            animation: mainFadeIn 1.5s forwards;
            animation-delay: 2.4s;
            opacity: 0;
            position: relative;
        }
    }

    .role {
        position: relative;
        height: 100%;

        .block {
            width: 0%;
            height: inherit;
            background: #d91212;
            position: absolute;
            animation: secBlock 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            display: inline-block;
        }

        .interaction {
            span {
                -webkit-animation: secFadeIn 1.5s forwards;
                -o-animation: secFadeIn 1.5s forwards;
                animation: secFadeIn 1.5s forwards;
                animation-delay: 0.6s;
                opacity: 0;
            }
        }
    }
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secBlock {
    0% {
        width: 100%;
        left: 0;
    }
    // 50% {
    //     width: 100%;
    //     left: 0%;
    // }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #e9d856;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #e9d856;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #e9d856;
        border: 0px solid #222;
        bottom: 13px;
    }
}